<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Random_blog{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">{% endblock %}
    </head>
    <body>
            <header>
                <h1>J.M.J : No joke</h1>
                <nav>
                    <div id="menu_hamb">
                    <span>| | |</span>

                    <a href="{{ path('inscription') }}">S'inscrire</a><a href="{{ path('login') }}">Connexion</a><a href="{{ path('article_show') }}">Articles</a><a href="{{ logout_path('main') }}">logout</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('article_index') }}">Espace Admin</a>
                    {% endif %}
                    </div>
                </nav>
            </header>





        {% block body %}


        {% endblock %}





            <footer>
                <p>Some contains in footer of this page</p>
            </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
