{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}



        <div id="all_articles">


           <img src="{{ articles.image }}">

            <h2>{{ articles.titre }}</h2>

              <p>{{ articles.contenu }}</p>


        </div>

    <div id="tab_comments">
        <div id="show_comments">


            <h3>commentary</h3>






            {% for comments in commentary %}
                <p class="username_com">{{ comments.user }}</p>
                <p>{{ comments.contenu }}</p>


                {% if is_granted('ROLE_ADMIN') %}
                {{ include('comments/_delete_form.html.twig') }}
                {% endif %}
            {% endfor %}

            {% if app.user %}
            {{ form(form) }}
            {% endif %}
        </div>









{% endblock %}