{% extends 'base.html.twig' %}

{% block title %}{% endblock %}




{% block body %}

    <p>Bienvenue {{ id_user }}</p>

{% for article in articles %}

    <div id="all_articles">


        <img src="{{ article.image }}">

        <h2>{{ article.titre }}</h2>

        <a href="{{ path('show_articleMain', { 'id' : article.id}) }}">Voir l'article complet</a>

      {#  <p>{{ article.contenu }}</p>   #}


    </div>



    {% endfor %}






{% endblock %}